@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ededed;
}

.msg-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffff;
    border-radius: 20px;
    gap: 20px;
    width: 900px;
    height: auto;
}

.container .left-page {
    width: 100%;
}

.side-icons {
    gap: 10px;
}

.side-icons i {
    cursor: pointer;
}

.container .left-page .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #414856;
}

.app-name h1 {
    font-weight: 500;
    font-size: 20px;
}

.search-bar {
    background-color: #ededed;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.search-bar input {
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
}

.category {
    padding: 10px;
    justify-content: space-between;
    display: flex;
}

.category i {
    padding: 10px;
    font-size: 20px;
    color: #414856;
    cursor: pointer;
}

.category i.active {
    border-radius: 10px;
    background-color: #ededed;
}

.messages .first-msg {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
}

.messages .first-msg.active {
    background-color: #ededed;
}

p.name {
    font-weight: 500;
}

.messages .first-msg p.message {
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 114px;
    overflow: hidden;
    line-height: 20px;
}

.first-msg img {
    border-radius: 50%;
    width: 40px;
}

.name-message {
    color: #414856;
}


.container .center-page {
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
}


.top .profile-details {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-name-status p {
    font-size: 10px;
}

.profile-name-status p span {
    background-color: green;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}


.top .profile-details img {
    width: 40px;
    border-radius: 50%;

}

.container .center-page .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #414856;
}

.side-actions {
    display: flex;
    gap: 10px;
}

.side-icons i {
    padding: 10px;
}



.time-sent {

    font-size: 12px;
    color: gray;
}

hr {
    margin: 10px;
    background-color: #ededed;
    border: none;
    height: 1px;
}

.sent-messages {
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
    padding-right: 17px;
    max-height: 410px;
    height: 100%;
}


.receiver-msg {
    font-size: 12px;
    width: 180px;
    background-color: #ededed;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.sender {
    bottom: 0;
    right: 0;
    position: relative;
    left: 70px;
}

.sender-msg {
    font-size: 12px;
    width: 180px;
    right: 0;
    background-color: #414856;
    border-radius: 10px;
    padding: 10px;
    color: #ffff;
    margin-bottom: 5px;
}


.sent-messages::-webkit-scrollbar {
    width: 0;
}


.message-container {
    display: flex;
    padding: 10px;
    justify-content: first baseline;
    gap: 10px;
}

.profile-pic img {
    border-radius: 50%;
}


.text-box input {
    outline: none;
    border: none;
    background-color: transparent;
}

.text-box {
    display: flex;
    padding: 10px;
    gap: 7px;
    align-items: center;
    background-color: #ededed;
    border-radius: 10px;
    justify-content: space-between;
    width: 100%;

}



.text-box i.fa-face-smile,
.text-box i.fa-paperclip,
.text-box i.fa-paper-plane {
    color: #414856;
    cursor: pointer;
    position: relative;
}


.text-box i.fa-paper-plane {
    margin-left: 3px;
    padding: 8px;
    background-color: #414856;
    color: #ededed;
    border-radius: 50%;
    text-align: center;
}

.container .right-page img {
    border-radius: 50%;
}

.container .right-page {
    display: flex;
    width: 100%;
    justify-content: center;
}

.right-page .top-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p.username {
    color: gray;
    font-size: 13px;
}

.right-page .profile-icons-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.right-page .profile-icons-actions i {
    color: #ffff;
    background-color: #414856;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.right-page .profile-icons-actions i:hover {
    transform: translate(0px, -4px);
    transition: all 0.3s;
}

.icon-name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-name p {
    color: gray;
    font-size: 12px;
}

.customization {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    flex-direction: column;
    width: 100%;
}

.customization h5 {
    font-weight: 500;
    text-align: start;
    margin-bottom: 10px;
}

.customization .customize-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customize-icons p {
    font-size: 13px;
}

.customize-icons span {
    font-size: 20px;
}

.customize-icons i.fa-heart {
    margin-right: 4px;
    color: red;
}

@media screen and (max-width: 768px) {

    .container .left-page,
    .container .right-page {
        display: none;
    }

    .container {
        width: 100%;
        height: 100vh;
    }

    .top {
        justify-content: space-between;
    }

    .sent-messages {
        max-height: 100%;
        width: 100%;
    }

    .sender {
        left: 140px;
    }
}